@use "../../styles/colors";
@use "../../styles/media";

.page {
  @include media.mobile {
    text-align: center;
  }

  .imageLayout {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: 50px 0 0;

    img {
      margin: 0 0 0 20px;
    }

    @include media.mobile {
      flex-direction: column;

      img {
        margin: 20px 0 0;

        width: 100%;
        height: auto;

        border-radius: 20px;
      }
    }
  }

  .subtitle {
    font-size: 40px;
  }

  .list {
    list-style-type: none;

    li {
      margin: 15px 0 0;
    }

    span {
      color: colors.$seaBreeze;
    }
  }

  h3 {
    margin: 50px 0;

    @include media.mobile {
      margin: 30px 0 ;

      &:first-child {
        margin: 0 0 30px;
      }
    }
  }
}