@use "../../styles/colors";

.header {
  position: sticky; //todo to nie działa ??
  top: 0;

  background-color: colors.$white;
  box-shadow: 0 0 8px 0 rgba(18, 38, 63, 0.18);

  font-weight: bold;
  font-size: 17px;

  .page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 75px;

    padding: 15px 30px;

    .logo {
      display: flex;
      align-items: center;
      gap: 15px;
      font-size: 27px;
    }

    nav {
      display: flex;
      justify-content: space-between;

      width: 80%;

      a {
        margin: 0 7px;

        &:hover {
          color: colors.$lightBlue;
          transition: 0.3s;
        }
      }
    }
  }
}