@use "../../styles/colors";

.header {
  position: fixed;
  top: 0;
  z-index: 10;

  display: flex;
  justify-content: center;

  width: 100%;

  background-color: colors.$white;
  box-shadow: 0 0 8px 0 colors.$black;

  font-weight: bold;
  font-size: 17px;

  .page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 10vh;
    width: 90%;

    padding: 15px 30px;

    .logo {
      display: flex;
      align-items: center;
      font-size: 27px;
    }

    nav {
      display: flex;
      justify-content: space-between;

      width: 50%;

      a {
        margin: 0 7px;

        &:hover {
          color: colors.$lightBlue;
          transition: 0.3s;
        }
      }
    }
  }
}