@use "../../styles/colors";

.page {
  .subtitle {
    font-size: 40px;
    margin: 120px 0 50px;
  }

  p {
    margin: 20px 0 0;

    &:nth-child(2) {
      font-weight: bold;
    }
  }

  .list {
    list-style-type: none;

    li {
      margin: 15px 0 0;
    }

    span {
      color: colors.$seaBreeze;
    }
  }
}
