@use "../../styles/colors";
@use "../../styles/media";

.page {
  .subtitle {
    font-size: 40px;
    margin: 200px 0 50px;

    @include media.mobile {
      font-size: 25px;
      margin: 20px 0;
    }
  }

  section {
    div{
      display: flex;
      align-items: center;

      margin: 0 0 15px ;

      @include media.mobile {
        font-size: 15px;

        align-items: normal;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 35px;

        padding: 0 20px;
        margin: 0 20px 0 0;

        border: 3px solid colors.$seaBreeze;
        border-radius: 25px;
      }
    }
  }


  li {
    list-style-type: none;
    line-height: 40px;
  }
}