@use "../../styles/colors";

.whyMe {
  display: flex;
  align-items: center;

  gap: 10px;

  .subtitle {
    font-size: 40px;
    margin: 50px 0;
  }

  .list {
    list-style-type: none;

    li {
      margin: 15px 0 0;
    }

    span {
      color: colors.$seaBreeze;
    }
  }
}

.description {
  margin:50px 0 0;

  font-size: 20px;
  text-align: justify;
}