@use "../../styles/colors";

.whyMe {
  display: flex;
  align-items: center;

  gap: 10px;

  h2 {
    font-size: 50px;
  }

  .list {
    list-style-type: none;

    li {
      margin: 15px 0 0;
    }

    span {
      color: colors.$seaBreeze;
    }
  }
}

.description {
  margin:50px 0 0;

  font-size: 20px;
  text-align: justify;
}